/* Colors */
$color-primary:#fff;
$color-secondary:#ccc;
$color-dark:#181818;
$color-alternitve: rgba(172, 13, 13, 0.8);

/* Spacing */
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$space-small: 2rem;
$space-xsmall: 1rem;

/* font-family */
$font-principal: 'Roboto Slab';

/* font-size */
$text-large:5.2rem;
$text-medium: 2.2rem;
$text-base:1.6rem;
$text-small:1.4rem;