.cards {
  @include flex (none,space-around,none);
   
    gap: 50px;
    margin: 20px; }

    .cards-productos {
      @include flex (column,none,center);
       
      }
    .img-card {
        width: 100%;
        object-fit: cover;
        height: 300px; }
        .cards__img {
            width: 200px;
            object-fit: cover; }
